trubrics[streamlit]==1.6.0
transformers
accelerate 
bitsandbytes 
xformers 
adjustText 
langchain
pypdf
torch
sentence_transformers
faiss-cpu
ctransformers
streamlit-chat
hugchat
streamlit_extras
hugchat-api
deep-translator
pandas==2.1.1
PyMuPDF==1.22.3
pdfplumber==0.8.0
pdf2image==1.16.2
zipp==3.12.0
